{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Alke Wallet - Sistema de Billetera Digital</title>

    
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'core/css/styles.css' %}">
</head>
<body class="min-vh-100 d-flex justify-content-center align-items-center">

  
    <main class="text-center">
        <h1>Alke Wallet</h1>
        <p>Redirigiendo al inicio de sesión...</p>
    </main>

    <script src="{% static 'core/js/main.js' %}"></script>
    <script>
        redirigir("/login/");
    </script>

</body>
</html>
