{% extends "core/base.html" %}

{% block title %}Reporte de clientes{% endblock %}

{% block content %}

<div class="container py-4">

    <h2 class="mb-4">Reporte de clientes</h2>
    <div class="d-flex justify-content-between align-items-center mb-3">
        <small>Total clientes: {{ total_clientes }}</small>
    </div>

    <div class="card shadow border-0 p-4">

        <div class="table-responsive"> 
            <table class="table table-hover align-middle mb-0 tabla-clientes">

                <thead class="text-uppercase small text-light text-center">

                <tr class="text-light">
                <th>Usuario</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>N° Cuenta</th>
                <th>Correo</th>
                <th>Teléfono</th>
                <th>Desactivar/Activar</th>
                </tr>

            </thead>

            <tbody>

                {% for cliente in clientes %}

                <tr class="text-light text-center">

                <td>{{ cliente.usuario.username }}</td>
                <td>{{ cliente.nombre }}</td>
                <td>{{ cliente.apellido }}</td>
                <td>{{ cliente.cuenta.numero_cuenta }}</td>
                <td>{{ cliente.correo }}</td>
                <td>{{ cliente.telefono }}</td>
                <td class="d-grid gap-3 text-center">
                {% if cliente.usuario.is_active %}

                    <a href="{% url 'desactivar_usuario' cliente.usuario.id %}" 
                    class="btn btn-danger btn-sm">
                        Desactivar
                    </a>

                    {% else %}

                    <a href="{% url 'desactivar_usuario' cliente.usuario.id %}" 
                    class="btn btn-success btn-sm">
                        Activar
                    </a>

                    {% endif %}

                </tr>

                {% endfor %}
                </td>

            </tbody>

        </table>

    </div>  

</div>

</div>

{% endblock %}