<!DOCTYPE html>
<html lang="es">

<head>

<meta charset="UTF-8">
<title>Error del servidor</title>

<link rel="stylesheet" href="/static/core/css/styles.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">

</head>

<body class="container min-vh-100 d-flex align-items-center justify-content-center">

<main class="text-center">

<h1>500</h1>

<h3>Error interno del servidor</h3>

<p>
Algo salió mal en el servidor.
Intenta nuevamente más tarde.
</p>

<a href="/" class="btn btn-primary mt-3">
Volver al inicio
</a>

</main>

</body>

</html>